.logo {
  width: 30%;
  display: inline;
  float: left;
}

a {
  text-decoration: none;
}

nav li {
  list-style-type: none;
}

h1 {
  text-align: center;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  text-align: right;
  margin-right: 10px;
}

h2 {
  text-align: center;
}

.services img {
  width: 25%;
}

a:visited {
  color: blue;
}
@media screen and (min-width: 1230px) {
  ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  nav {
    text-align: center;
    width: 20%;
    margin: 0 auto;
  }
}