p {
  font-size: 18px;
}

.logo {
  width: 40%;
  position: fixed;
  top: -20px;
  left: 0;
  width: 100px;
  z-index: 10000;
}

.collapse {
  display: flex;
  justify-content: space-evenly;
}

.navbar-toggler {
  justify-content: end;
  margin: 0 86%;
}

.nav-item {
  width: fit-content;
  margin: 0 auto;
}

header {
  background-color: gray;
}

.container-fluid > a {
  width: 250px
}

.main-title {
  background-color: #487ead;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title h1 {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;}

h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
}

.services-container {
  background-color: rgb(197, 197, 197);
  text-align: center;
}

.webDesign {
  grid-area: top-left;
}

.socialMedia {
  grid-area: top-right;
}

.strategy {
  grid-area: bottom-left;
}

.coaching {
  grid-area: bottom-right;
}

.services img {
  justify-content: center;
}
.services p {
  margin: auto 0;
  font-weight: 600;
  font-size: 20px;
}

a:visited, a:link {
  color: black;
}

p {
  text-align: center;
}

.learnMore button a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px grey;
}

.learnMore button {
  background-color: black;
  width: 135px;
  height: 45px;
  font-size: 18px;
  margin: 20px 0;
  text-shadow: 1px 1px 1px grey;
}

.testimonials-container {
  text-align: center;
}

.testimonials-container img {
  text-align: center;
  width: 35%;
}

.contact-container {
  background-color: #487ead;
  color: white;
  text-align: center;
}

.contact-container button {
  color: white;
  background-color: #85c3d7;
  line-height: 30px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
}

.contact-container button a {
  text-decoration: none;
}

footer p {
  text-align: center;
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  width: fit-content;
}

.contact-container h2 {
  width: 75%;
  margin: 40px auto;
}

.icon-links {
  display: flex;
  justify-content: space-evenly;
}

.facebook-icon {
  color: rgb(50, 50, 249);
  height: 25px;
}

.instagram-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90% );
  border-radius: 3px 3px 3px 3px;
  color: white;
  width: 25px;
  height: 25px;
}

.twitter-icon {
  color: rgb(55, 197, 245);
  height: 25px;
}

.youtube-icon {
  color: red;
  height: 25px;
}

/*About css*/

.about-page {
  text-align: center;
}

.about-title {
  padding-top: 20px;
  font-size: 40px;
}

.headshot {
  border-radius: 50px 50px 50px 50px;
  width: 50%;
}

.about-bottom-border {
  border-bottom: 2px solid black;
  width: 75%;
  margin: 0 auto;
}

/*Services page*/

.services-page {
  text-align: center;
}

.card-text {
  font-size: 15px;
}

.services-first-image, .services-second-image  {
  width: 70%;
  border-radius: 5px;
  margin-top: 20px;
}

/* * {
  outline: 1px solid red;
  outline-offset: -1px;
} */