/*all css*/

html {
  box-sizing: border-box;
}

* {
  font-family: Tahoma;
}

p {
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
}

/*nav css*/

.logo {
  position: fixed;
  top: -20px;
  left: 5px;
  width: 100px;
  z-index: 10000;
}

.collapse {
  display: flex;
  justify-content: space-evenly;
}

.navbar-toggler {
  margin: 0 86%;
}

.nav-item {
  margin: 0 auto;
}

header {
  background-color: #355c7e;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  width: 0%;
  content: "";
  height: 2px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

/*home css*/

.main-title {
  background-color: #355c7e;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient( #355c7e, #000000);
}

.home-approach {
  margin: 90px 0 90px 0;
}

.main-title h1 {
  text-align: center;
  color: #ffffff;
  font-size: 80px;
}

.services-container {
  background-color: #355c7e;
  text-align: center;
  width: 100%;
}

.services p {
  margin: auto 0;
  font-size: 20px;
}

.services div {
  margin: 0 auto;
}

a:visited,
a:link {
  color: #000000;
}

.services-button {
  color: #000000;
  background-color: #85c3d7;
  line-height: 38px;
  width: 100px
}

.services-button:hover {
  background-color: #50b9f7;
}

.contact-container {
  background-color: #355c7e;
  color: #ffffff;
  text-align: center;
}

.testimonial-rows {
  margin-top: 20px;
  align-items: center;
}

.contact-us-button {
  background-color: #85c3d7;
  line-height: 38px;
  width: 25%;
}

.contact-us-button:hover {
  color: #000000;
  background-color: #50b9f7;
}
/*footer css*/

footer p {
  text-align: center;
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  width: fit-content;
}

.contact-container h2 {
  width: 75%;
  margin: 40px auto;
}

.icon-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 20px;
  width: 300px;
}

.facebook-icon {
  color: #355c7e;
  height: 25px;
}

.instagram-icon {
  background-color: #355c7e;
  border-radius: 8px;
  color: #ffffff;
  width: 25px;
  height: 25px;
}

.twitter-icon {
  color: #355c7e;
  height: 25px;
}

.youtube-icon {
  color: #355c7e;
  height: 25px;
}

.footer-links {
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-links a {
  width: 85px;
  text-align: center;
  padding-bottom: 20px;
}

small {
  font-size: 12px;
}

/*about css*/

.about-page {
  text-align: center;
}

.about-page h1 {
  font-size: 55px;
  width: 80%;
  margin: 0 auto;
}

.about-page p {
  margin: 20px auto;
}

.about-title {
  padding-top: 20px;
}

.headshot {
  width: 50%;
}

.about-bottom-border {
  border-bottom: 2px solid #000000;
  width: 75%;
  margin: 0 auto;
}

/*services page*/

.cards {
  margin: 0 auto;
}

.cards img {
  border-radius: 5px;
  padding: 1px;
}

.services-cards img {
  display: inline-block;
}

.services-page {
  text-align: center;
}

/* .services-page-cards div {
  margin: 5px;
} */

.services p {
  color: #ffffff;
}

.card-text {
  font-size: 1.1rem;
}

.row {
  margin-bottom: 15px;
}

.services-rates {
  margin-bottom: 20px;
}

.card-title {
  font-size: 20px;
}

.first-services-imgs img {
  margin-top: 30px;
  border-radius: 10px;
}

.services-page h2 {
  margin-top: 30px;
}

/* form css */

.form-group {
  text-align: left;
  color: #ffffff;
  padding: 15px;
  display: inline-block;
}

form {
  background-color: #355c7e;
}

form input {
  display: inline-block;
}

.message {
  height: 20vh;
}

/* Blog css*/
.blog-page img {
  border-radius: 10px;
}

.blog div {
  margin: 0 auto;
}

/*Contact css*/
.contact-page {
  margin: 10px 0;
  text-align: center;
}

.contact-icon-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 10px auto;
}

/*No Page css*/
.noPage-page {
  margin: 10px auto;
  text-align: center;
}

/* TEST  */

/* * {
  outline: 1px solid red;
  outline-offset: -1px;
} */
